  <%= f.error_messages %>

      
  <% if  permitted_to? :create, :customers %>
  <fieldset>
    <legend>Rauhanyhdistys.fi palvelun tiedot</legend>

      <p><%= f.label :ryweb_active, 'Rauhanyhdistys.fi käytössä' %>
        <%= f.check_box :ryweb_active %>
      </p>

      <p><%= f.label :customer_type, 'Tyyppi' %>
        <% [ [10, "Rauhanyhdistys"], [20,"Kotimaan lähetysalue"],[30,"Ulkolähetys"],[40,"Muu"] ].each do |value,label| %>
        <%= f.radio_button :customer_type, value %><%= label %>
        <% end %>
      </p>

      <p><%= label_tag 'target_area', 'Lähetysalue' %>
        <%= f.select :target_area, options_for_select(Customer.target_areas.collect {|p| [ p[1],p[0]] }.sort, @customer.target_area), options ={:include_blank => true} %>
      </p>

      <p><%= f.label :name, 'Järjestelmän nimi' %>
        <%= f.text_field :name %>
      </p>

      <p><%= f.label :start_date, 'Käyttöönottopäivä' %>
        <%= f.date_select :start_date %>
      </p>

      <p><%= label_tag 'power_base', 'Leirikeskustukialue' %>
        <%= f.select :power_base, options_for_select(Customer.campgrounds.collect {|p| [ p[1],p[0]] }.sort, @customer.power_base), options ={:include_blank => true} %>
      </p>

       <p><%= label_tag 'language', 'Kieli' %>
         <%= f.select :language, @customer.getOptionsForSelectList(:language), options ={:prompt => ""} %>
       </p>

  </fieldset>
  <% end %>
      

  <p><%= f.label :title, 'Yhdistyksen nimi' %>
    <%= f.text_field :title %>
  </p>

   <p><%= f.label :address, 'Lähiosoite' %>
    <%= f.text_field :address %>
   </p>

   <p><%= f.label :zip_code, 'Postinumero' %>
    <%= f.text_field :zip_code %>
   </p>

   <p><%= f.label :city, 'Postitoimipaikka' %>
    <%= f.text_field :city %>
   </p>

   <p><%= f.label :phone, 'Puhelinnumero' %>
    <%= f.text_field :phone %>
   </p>

   <p><%= f.label :email, 'Sähköpostiosoite' %>
    <%= f.text_field :email %>
   </p>

   <p><%= f.label Customer.human_attribute_name :forward_email %>
    <%= f.text_field :forward_email %>
    <div class="hint"><%= t('.forward_email_info',
                            :email => ( @customer.name or "&lt;järjestelmän nimi&gt;" ) +
                            "@" + RYWEB["email_alias"]["domain"]) %>
    </div>
   </p>

   <p><%= f.label :radio_url, 'Nettiradiolinkki' %>
    <%= f.text_field :radio_url %>
   </p>

   <p><%= f.label :home_page, 'Kotisivut' %>
    <%= f.text_field :home_page %>
    <div class="hint">Kotisivujen osoite, jos rauhanyhdistys.fi ei käytössä</div>
   </p>

  <p>
     <%= label_tag 'ui_template_id', 'Ulkoasumalli' %>
     <%= f.select :ui_template_id, @ui_templates.map {|t| [t.name, t.id ]}, {:include_blank => true}  %>
  </p>

  <p><%= f.label :logo, 'Logo' %>
    <%= f.text_field :logo %>
  </p>

