<%= f.error_messages %>

<script>
        jQuery(document).ready(function($) {
		$( "#occasion_location_id" ).autocomplete({
			source: "locations",
			minLength: 2
		});
                $( "#occasion_occasion_type_id" ).autocomplete({
			source: "occasion_types",
			minLength: 2
		});

	});
</script>

<p><%= label_tag 'name', 'Tapahtuma' %>
<%= f.text_field :name %></p>


<p><%= label_tag 'start_time', 'Aloitusaika' %>
  <% if @occasion.start_time.nil? %>
    <%= f.text_field :start_time, :value => localize(Time.now.at_beginning_of_day, :format => :date_picker) %></p>
  <% else %>
    <%= f.text_field :start_time, :value => localize(@occasion.start_time, :format => :date_picker) %></p>
  <% end %>

<p><%= label_tag 'repeat', 'Toisto' %>
  <%= f.select :repeat, @occasion.getOptionsForSelectList(:repeat), options ={:prompt => ""} %>
  <% if @occasion.start_time.nil? %>
    <%= f.text_field :repeat_until, :value => localize(Time.now.at_beginning_of_day.to_date, :format => :short) , :size => '10' %> asti
  <% else %>
    <%= f.text_field :repeat_until, :value => localize(@occasion.repeat_until, :format => :short), :size => '10' %> asti
  <% end %>


<p><%= label_tag 'occasion_type_id', 'Tapahtuman tyyppi' %>
<p><%= f.text_field :occasion_type_id, :value => @occasion.occasion_type.name %></p>

<% if !Customer.current.radio_url.empty? %>
  <p><%= label_tag 'net_radio', 'Nettiradiolähetys' %>
  <%= f.check_box :net_radio %>
<% end %>

<p><%= label_tag 'subject', 'Aihe' %>
<p><%= text_field_with_auto_complete 'occasion', 'subject', :value => @occasion.subject %></p>

<p><%= label_tag 'location_id', 'Paikka' %>
<p><%= f.text_field :location_id, :value => @occasion.location.name %></p>

<p><%= label_tag 'state', 'Tapahtuman tila' %>
<p><%= @occasion.getOptionsForSelectList(:state).index(@occasion.state)%></p>

<p><%= label_tag 'internal_info', 'Sisäinen lisätieto' %>
<%= f.text_area :internal_info, :rows=>10 %></p>

<p><%= label_tag 'public_info', 'Julkinen (internet) lisätieto' %>
<%= f.text_area :public_info, :rows=>10 %></p>

<p><%= label_tag 'inform_changes', 'Tiedota muutoksesta?' %>
<%= f.check_box :inform_changes %>
<div class="hint">Valitsemalla Tiedota muutoksesta, tulee muutettu tapahtuma näkyviin julkisessa tapahtumakalenterissa niin pitkäksi aikaa, että tapahtumapäivä on umpeutunut. Käyttö on suositeltavaa kun muutos tulee nopeasti.</div>

<p>
    <% @occasion.getOptionsForSelectList(:state).each do |state,id| %>
      <%= submit_tag ('Tallenna ' + state) %>
    <% end  %>
</p>
