<script>
	$(function() {
		$( "#occasion_location_id" ).autocomplete({
			source: "http://localhost:3004/lahetysalue/occasions/locations",
			minLength: 2
		});
                $( "#occasion_occasion_type_id" ).autocomplete({
			source: "http://localhost:3004/lahetysalue/occasions/occasion_types",
			minLength: 2
		});

	});
	</script>

<% form_remote_for :occasion, :url => {:action => "create", :year => @date.year, :month => @date.month, :view => 'list'}, :html => { :id => 'quick_create_form' } do |f| %>

<table>
  <thead>
  	<tr>
       <th colspan ="2">Päiväys ja klo</th>
       <th>Tapahtuma</th>
       <th>Paikka</th>
       <th>Tapahtumatyyppi</th>	   
       <th>Aihe</th>
	   <th>&nbsp;</th>
	</tr>	   
  </thead>
<tbody>	
<tr>
	<td colspan="2"><%= f.text_field :start_time, :size => 13 %><br /><div class="quickhelp"><%= @date.strftime("%d.%m.%Y") + " " + "17:00" %></div></td>
	<td><%= f.text_field :name, :size => 15 %><br /><div class="quickhelp">Seurat</div></td>
	<td><%= f.text_field :location_id, :size => 15 %><br /><div class="quickhelp">Seurakuntatalo</div></td>
	<td><%= f.text_field :occasion_type_id, :value => @occasion.occasion_type.name, :size => 13 %><br /><div class="quickhelp">Lähetyseurat</div></td>
	<td><%= f.text_field :subject, :size => 15 %><br /><div class="quickhelp">Päivänteksi</div></td>
        <td><%= f.submit "Tallenna" %></td>
</tr>
</tbody>
</table>
<% end %>
